.entrada{
    max-width: 80rem;
    margin: auto;   
}

.imagen_{
    width: 30rem;
    margin: auto; 
    margin-bottom: 1rem;
}

.contenido{
    padding: 1rem;
    margin-bottom: 2rem;
}


.contenido h3 {
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.2;
}


.resumen{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}
.texto{
    white-space: pre-wrap;
}

