@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(2 132 199 );
  --negro: #262626;
  --blanco: #FFF;
}

  [class*="heading"] {
    font-size: 3.5rem;
    text-align: center;
    font-weight: 900;
    color: rgb(2 132 199 );
  }
  
  @media (max-width: 600px) {
    [class*="heading"]{
      font-size: 3rem;
    }
  }


  
.enlace1{
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 850;
  color: var(--blanco);
  border: 3px solid var(--primary);
  padding: 0.7rem 2rem;
  transition-property: background-color;
  transition-duration: .3s;
}

.enlace1:hover {
  background-color: var(--primary);
  color: var(--blanco);
}


.enlace2{
  display: block;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 850;
  color: var(--blanco);
  border: 3px solid #2ED573;
  padding: 0.7rem 2rem;
  transition-property: background-color;
  transition-duration: .3s;
}

.enlace2:hover {
  background-color: #2ED573;
  color: var(--blanco);
}

